 <!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <a class="navbar-brand brand2 mobile">
        <img src="img/logos/prospect.png" alt="Проспект">
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navCollapsed">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="col-md-10 col-md-offset-1">
    <div class="collapse navbar-collapse" id="navCollapsed">
      <ul class="nav navbar-nav navbar-left text-right">
        <li><a class="page-scroll" href="#about">Кто мы</a></li>
        <li><a class="page-scroll" href="#services">Что мы делаем</a></li>
        <li><a class="page-scroll" href="#client">Нам доверяют</a></li>
        <a href="#page-top" class="navbar-brand page-scroll desktop">
          <img id="brandLogo" src="img/logos/prospect.png" alt="Проспект">
        </a>
        <li><a class="page-scroll" href="#ideas">Идеи для бренда</a></li>
        <li><a class="page-scroll" href="#contact">Напишите нам</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
    </div>
  </div>
  <!-- /.container-fluid -->
</nav>